.earth {
    position: fixed;
    top: 0;
    background: rgba(25, 25, 25, 0.15);
    z-index: 3;
    border: 1px solid rgba(45, 45, 45, 0.85);
    margin: 10px;
    list-style-type: none;
    left: 0;
    width: 250px;

}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
*, ::before, ::after {
    box-sizing: inherit;
}
body {
    font-family: 'Rajdhani-Regular', sans-serif;
    background: black;
    color: #f9f9f9;
    letter-spacing: 0.02rem;
    position: relative;
    -webkit-font-smoothing: antialiased;
}
.earth-list {
    font-family: 'Rajdhani-Bold', sans-serif;
    font-size: 1rem;
    border-bottom: 1px solid rgba(45, 45, 45, 0.8);
    padding: 0.5rem 1rem;
    display: block;
    line-height: 1;
    color: white;
    position: relative;
}
.earth-title {
    display: block;
    padding: 0.5rem 1rem;
    line-height: 1;
    font-size: 0.9rem;
    color: white;
    position: relative;
    border-bottom: 1px solid rgba(45, 45, 45, 0.8);
    text-align: center;
}

.accordion-title {
    display: block;
    padding: 0.5rem 1rem;
    line-height: 1;
    font-size: 0.8125rem;
    color: white;
    position: relative;
    border-bottom: 1px solid rgba(45, 45, 45, 0.8);
}
.accordion-title::before {
    content: '+';
    position: absolute;
    right: 1rem;
    top: 50%;
    margin-top: -0.5rem;
}
a {
    background-color: transparent;
}
table thead, table tbody, table tfoot {
    border: none;
    background-color: transparent;
}
.earth a {
    color: #cccccc;
}
.earth input, .earth a, .earth button {
    margin-bottom: 0;
}

p {
    margin: 0 0 10px;
}

.description {
    font-family: 'Rajdhani-Semibold', sans-serif;
    font-size: 0.8125rem;
    display: block;
    padding: 0.5rem 1rem;
    line-height: 1;
    font-size: 0.8125rem;
    color: white;
    position: relative;
    border-bottom: 1px solid rgba(45, 45, 45, 0.8);
}
